In [ ]:
# Assignment Tasks

In [ ]:
# 1. Print all even numbers from 1 to 50 using a for loop.
for i in range(1,51):
  if i%2==0:
    print(i)

In [ ]:
# 2. Print numbers from 1 to 100 but stop the loop if the number is 37. (Use break)
for i in range(1,100):
  print(i)
  if i ==37:
    break

In [ ]:
# 3. Print numbers 1 to 50 but skip multiples of 5. (Use continue)
for i in range(1,51):
  if i%5==0:
    continue
  print(i)

In [ ]:
# 4. Take a number from the user and print its multiplication table (1–10).
a = int(input('ENter a number:'))
for i in range(1,11):
  print(i*a)

In [9]:
# 5. Count how many numbers between 1 to 100 are divisible by 7.
count = 0
for i in range(1,101):
  if i%7==0:
    count +=1
print(count)

14

In [11]:
# 6. Print only the vowels from a string given by the user.
a = input('Enter a string:')
vow = "aeiou"
for i in a:
  if i in vow:
    print(i)

Enter a string:saransh
a
a

In [6]:
# 7. Given a string, print the first 5 characters only and stop. (Use break)
a = input('Enter the string')
count= 0
for i in a:
  if count <5:
    print(i)
  count+=1

Enter the stringsaransh
s
a
r
a
n

In [12]:
# 8. From numbers 1 to 20, skip odd numbers and print only squares of even numbers.
for i in range(1,21):
  if i%2==0:
    print(i*i)

4
16
36
64
100
144
196
256
324
400

In [2]:
# 9. Take 10 numbers from the user and print the highest number.
max_num = int(input("Enter number 1: "))
for i in range(2, 11):
    num = int(input(f"Enter number {i}: "))
    if num > max_num:
        max_num = num
print(max_num)

Enter number 1: 2
Enter number 2: 3
Enter number 3: 6
Enter number 4: 5
Enter number 5: 8
Enter number 6: 78
Enter number 7: 5
Enter number 8: 434
Enter number 9: 53
Enter number 10: 23
434

In [13]:
# 10. Print all characters of a string except spaces. (Use continue)
a = input('ENter a string:')
for i in a:
  if i == " ":
    continue
  print(i)

ENter a string:saransh soni
s
a
r
a
n
s
h
s
o
n
i

In [15]:
# 11. Print the sum of all numbers from 1–100 but skip numbers divisible by 3.
sum = 0
for i in range(1,101):
  if i%3==0:
    continue
  sum = sum +i
print(sum)

3367

In [16]:
# 12. Given a list of numbers, stop printing when the number 0 is found. (Use break)
# ○ Example: [3, 4, 1, 0, 7, 9] → stop at 0
a = [3, 4, 1, 0, 7, 9]
for i in a:
  print(i)
  if i==0:
    break

3
4
1
0

In [20]:
# 13. Check if a given number is prime or not using a for loop.
n = int(input('ENter a number :'))
count = 0
for i in range(1,n):
  if n%i==0:
    count = count+1
if count <2:
  print('prime number')
else:
  print('not a prime number')

ENter a number :3
prime number

In [23]:
# 14. Print the factorial of a number using a for loop.
# ○ Example: 5 → 120
a = int(input('Enter a number:'))
fact = 1
for i in range(1,a+1):
  fact= fact*i
print(fact)

Enter a number:5
120

In [ ]:
# 15. Print the smallest number in a list.

In [25]:
# 16. Count how many vowels are in the string: "Hello Python Programmer"
a = input('Enter a number:')
vow = 'aeiuo'
count = 0
for i in a:
  if i in vow:
    count+=1
print(count)

Enter a number:Hello Python Programmer
6

In [26]:
# 17. Print numbers 1–30; if a number is divisible by both 4 and 6, then stop. (Use
# break)
for i in range(1,31):
  print(i)
  if i%4==0 and i%6==0:
    break

1
2
3
4
5
6
7
8
9
10
11
12

In [27]:
# 18. Print only negative numbers from a given list.
a = [3, -4, 1, 0, 7, 9]
for i in a:
  if i <0:
    print(i)

-4

In [30]:
# 19. Reverse a string using a for loop.
# ○ Example: "python" → "nohtyp"

char = input('Enter a number:')
word = ""
for ch in char:
  word  = ch +word
print(word)

Enter a number:python
nohtyp

In [1]:
# 20.Print the Fibonacci series up to N terms using a for loop.
n = int(input('Enter a number:'))
a=0
b=1
for i in range(n):
  print(a)
  a,b = b,a+b

Enter a number:5
0
1
1
2
3